# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.That project management game.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\MIS DOCUMENTOS PPAL\Desktop\2021-1\requisitos\juego\That project management game\.idea\.idea.That project management game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
